<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments :: page_head('products')"></head>
<link rel="stylesheet" type="text/css"
	th:href="@{/richtext/richtext.min.css}">
<body>
	<div class="page-wrapper chiller-theme toggled">
		<div th:replace="fragments :: sidebar"></div>

		<div class="page-content">
			<div class="container-fluid">
				<div th:replace="fragments :: nav"></div>

				<div class="main-content">

					<div class="row mt-3">
						<div class="col-12">
							<div class="card">
								<h5 class="card-header">Product Form</h5>
								<div class="card-body">
									<form th:action="@{/products/save}" method="post"
										th:object="${product}" enctype="multipart/form-data">
										<input type="hidden" th:field="*{id}" /> <input type="hidden"
											th:if="${product.category != null}"
											th:value="${product.category.id}" id="categoryId" />
										<nav>
											<div class="nav nav-tabs" id="nav-tab" role="tablist">
												<button class="nav-link active" id="nav-home-tab"
													data-toggle="tab" data-target="#overview" type="button"
													role="tab" aria-controls="nav-home" aria-selected="true">Overview</button>
												<button class="nav-link" id="nav-profile-tab"
													data-toggle="tab" data-target="#description" type="button"
													role="tab" aria-controls="nav-profile"
													aria-selected="false">Description</button>
												<button class="nav-link" id="nav-contact-tab"
													data-toggle="tab" data-target="#images" type="button"
													role="tab" aria-controls="nav-contact"
													aria-selected="false">Images</button>
												<button class="nav-link" id="nav-contact-tab"
													data-toggle="tab" data-target="#details" type="button"
													role="tab" aria-controls="nav-contact"
													aria-selected="false">Details</button>
												<button class="nav-link" id="nav-contact-tab"
													data-toggle="tab" data-target="#shipping" type="button"
													role="tab" aria-controls="nav-contact"
													aria-selected="false">Shipping</button>
											</div>
										</nav>
										<div class="tab-content" id="nav-tabContent">
											<div class="tab-pane fade show active" id="overview"
												role="tabpanel" aria-labelledby="nav-home-tab">
												<div th:replace="products/product_overview :: overview"></div>
											</div>
											<div class="tab-pane fade" id="description" role="tabpanel"
												aria-labelledby="nav-profile-tab">
												<div
													th:replace="products/product_description :: description"></div>
											</div>
											<div class="tab-pane fade" id="images" role="tabpanel"
												aria-labelledby="nav-contact-tab">
												<div th:replace="products/product_image :: image"></div>
											</div>
											<div class="tab-pane fade" id="details" role="tabpanel"
												aria-labelledby="nav-contact-tab">
												<div th:replace="products/product_detail :: detail"></div>
												<div>
													<input type="button" class="btn btn-secondary"
														value="Add More Detail" onclick="addNextDetailSection()" />
												</div>
											</div>
											<div class="tab-pane fade" id="shipping" role="tabpanel"
												aria-labelledby="nav-contact-tab">
												<div th:replace="products/product_shipping :: shipping"></div>
											</div>
										</div>

										<div class="text-center">
											<button type="submit" class="btn btn-primary">Submit</button>
											<button type="submit" class="btn btn-primary btn-cancel">Cancel</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>

				</div>

				<div th:replace="modal :: modal"></div>
				<div th:replace="fragments :: footer"></div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	brandModuleUrl = "[[@{/brands}]]";
	MAX_FILE_SIZE = 502400;
	defaultImageThumbnailSrc = "[[@{/default-images/default-thumbnail.jpg}]]";
</script>
	<script th:src="@{/richtext/jquery.richtext.min.js}"></script>
	<script th:src="@{/js/common_form.js}"></script>
	<script th:src="@{/js/product_form_overview.js}"></script>
	<script th:src="@{/js/product_form_image.js}"></script>
	<script th:src="@{/js/product_form_detail.js}"></script>
</body>
</html>