<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments :: page_head('topics')"></head>
<body>
	<div class="page-wrapper chiller-theme toggled">
		<div th:replace="fragments :: sidebar"></div>

		<div class="page-content">
			<div class="container-fluid">
				<div th:replace="fragments :: nav"></div>

				<div class="main-content">

					<div class="row">
						<div class="col-12">
							<h1 class="jumbotron-heading">Topics</h1>
							<div class="icon mt-1 mb-2">
								<a th:href="@{/topics/create}"><i
									class="fas fa-user-plus fa-2x icon-gray mr-1"></i></a> <a href=""><i
									class="fas fa-file-csv fa-2x icon-gray mr-1"></i></a> <a href=""><i
									class="fas fa-file-excel fa-2x icon-gray mr-1"></i></i></a> <a href=""><i
									class="fas fa-file-pdf fa-2x icon-gray mr-1"></i></a>
							</div>

							<div th:replace="fragments :: form_search('topics')"></div>

							<div th:replace="fragments :: message"></div>

							<table class="table">
								<thead class="thead-dark">
									<tr>
										<th
											th:replace="fragments :: column_link('topics', 'id', 'Id')"></th>
										<th
											th:replace="fragments :: column_link('topics', 'name', 'Name')"></th>
										<th
											th:replace="fragments :: column_link('topics', 'alias', 'Alias')"></th>

										<th
											th:replace="fragments :: column_link('topics', 'enabled', 'Enabled')"></th>
										<th scope="col">Action</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="topic : ${topics}">
										<th scope="row">[[${topic.id}]]</th>
										<td>[[${topic.name}]]</td>
										<td>[[${topic.alias}]]</td>
										<td><th:block th:if="${topic.enabled == true}">
												<a th:href="@{'/topics/' + ${topic.id} + '/enabled/false'}"><i
													class="fas fa-check-circle fa-2x icon-success"></i></a>
											</th:block> <th:block th:if="${topic.enabled == false}">
												<a th:href="@{'/topics/' + ${topic.id} + '/enabled/true'}"><i
													class="fas fa-check-circle fa-2x icon-gray"></i></a>
											</th:block></td>
										<td><a class="link-detail"
											th:href="@{'/topics/detail/' + ${topic.id}}"><i
												class="fas fa-info-circle fa-2x icon-success"></i></a> <a
											th:href="@{'/topics/edit/' + ${topic.id}}"><i
												class="fas fa-edit fa-2x icon-success"></i></a> <a
											class="link-delete" th:userId="${topic.id}"
											th:href="@{'/topics/delete/' + ${topic.id}}"><i
												class="fas fa-trash fa-2x icon-danger"></i></a></td>
									</tr>
								</tbody>
							</table>

							<div th:replace="navigation :: paging('topics', 'topics')"></div>

						</div>
					</div>

				</div>


				<!-- Modal -->
				<div class="modal fade" id="detail-modal" tabindex="-1"
					aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content"></div>
					</div>
				</div>


				<div th:replace="modal :: confirm-modal"></div>
				<div th:replace="fragments :: footer"></div>
			</div>
		</div>
	</div>
	<script>
	url = "[[@{'/topics'}]]";
	
	$(document).ready(function(){
		$(".link-detail").on("click", function(e){
			e.preventDefault();
			linkDetail = $(this).attr("href");
			$("#detail-modal").modal("show").find(".modal-content").load(linkDetail);
		});
	});
	
	</script>
	<script type="text/javascript" th:src="@{/js/common_list.js}"></script>
</body>
</html>