<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments :: page_head('articles')"></head>
<body>
	<div class="page-wrapper chiller-theme toggled">
		<div th:replace="fragments :: sidebar"></div>

		<div class="page-content">
			<div class="container-fluid">
				<div th:replace="fragments :: nav"></div>

				<div class="main-content">

					<div class="row">
						<div class="col-12">
							<h1 class="jumbotron-heading">Articles</h1>
							<div class="icon mt-1 mb-2">
								<a th:href="@{/articles/create}"><i
									class="fas fa-user-plus fa-2x icon-gray mr-1"></i></a>
							</div>

							<div th:replace="fragments :: form_search('articles')"></div>

							<div th:replace="fragments :: message"></div>

							<table class="table">
								<thead class="thead-dark">
									<tr>
										<th
											th:replace="fragments :: column_link('articles', 'id', 'Id')"></th>
										<th>Image</th>
										<th
											th:replace="fragments :: column_link('articles', 'title', 'Title')"></th>
										<th
											th:replace="fragments :: column_link('articles', 'user', 'Created By')"></th>
										<th>Topic</th>
										<th
											th:replace="fragments :: column_link('articles', 'createdTime', 'Created Time')"></th>
										<th
											th:replace="fragments :: column_link('articles', 'published', 'Published')"></th>
										<th scope="col">Action</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="article : ${articles}">
										<th scope="row">[[${article.id}]]</th>
										<td><img th:src="@{${article.imagePath}}"
											style="max-width: 70px" /></td>
										<td>[[${article.getShortTitle}]]</td>
										<td>[[${article.user.fullName}]]</td>
										<td><span class="badge badge-success">[[${article.topic.name}]]</span>
										</td>
										<td
											th:text="${#dates.format(article.createdTime, 'dd-MM-yyyy')}"></td>
										<td><th:block th:if="${article.published == true}">
												<a
													th:href="@{'/articles/' + ${article.id} + '/enabled/false'}"><i
													class="fas fa-check-circle fa-2x icon-success"></i></a>
											</th:block> <th:block th:if="${article.published == false}">
												<a
													th:href="@{'/articles/' + ${article.id} + '/enabled/true'}"><i
													class="fas fa-check-circle fa-2x icon-gray"></i></a>
											</th:block></td>
										<td><a class="link-detail"
											th:href="@{'/articles/detail/' + ${article.id}}"><i
												class="fas fa-info-circle fa-2x icon-success"></i></a> <a
											th:href="@{'/articles/edit/' + ${article.id}}"><i
												class="fas fa-edit fa-2x icon-success"></i></a> <a
											class="link-delete" th:userId="${article.id}"
											th:href="@{'/articles/delete/' + ${article.id}}"><i
												class="fas fa-trash fa-2x icon-danger"></i></a></td>
									</tr>
								</tbody>
							</table>

							<div th:replace="navigation :: paging('articles', 'articles')"></div>

						</div>
					</div>

				</div>


				<!-- Modal -->
				<div class="modal fade" id="detail-modal" tabindex="-1"
					aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content"></div>
					</div>
				</div>


				<div th:replace="modal :: confirm-modal"></div>
				<div th:replace="fragments :: footer"></div>
			</div>
		</div>
	</div>
	<script>
	url = "[[@{'/articles'}]]";
	
	$(document).ready(function(){
		$(".link-detail").on("click", function(e){
			e.preventDefault();
			linkDetail = $(this).attr("href");
			$("#detail-modal").modal("show").find(".modal-content").load(linkDetail);
		});
	});
	
	</script>
	<script type="text/javascript" th:src="@{/js/common_list.js}"></script>
</body>
</html>