<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<body>
	<div th:fragment="breadcrumb">
		<th:block
			th:if="${listCategoriesParent != null}">
			<nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
				<div class="container">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
						<li th:each="category : ${listCategoriesParent}" class="breadcrumb-item"><a th:href="@{${category.URL}}">[[${category.name}]]</a></li>
						<li th:if="${product != null}" class="breadcrumb-item"><a th:href="@{${product.URL}}">[[${product.name}]]</a></li>
					</ol>
				</div>
				<!-- End .container -->
			</nav>
		</th:block>
	</div>
</body>
</html>