<!DOCTYPE html>
<html>
<head th:fragment="page_head('title')">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>[[${SITE_NAME}]]</title>
<meta name="keywords" content="HTML5 Template">
<meta name="description" content="Molla - Bootstrap eCommerce Template">
<meta name="author" content="p-themes">
<!-- Favicon -->
<link rel="apple-touch-icon" sizes="180x180"
	th:href="@{/assets/images/icons/apple-touch-icon.png}">
<link rel="icon" type="image/png" sizes="32x32"
	th:href="@{/assets/images/icons/favicon-32x32.png}">
<link rel="icon" type="image/png" sizes="16x16"
	th:href="@{/assets/images/icons/favicon-16x16.png}">
<link rel="manifest" th:href="@{/assets/images/icons/site.html}">
<link rel="mask-icon"
	th:href="@{/assets/images/icons/safari-pinned-tab.svg}" color="#666666">
<link rel="shortcut icon" th:href="@{/assets/images/icons/favicon.ico}">
<meta name="apple-mobile-web-app-title" content="Molla">
<meta name="application-name" content="Molla">
<meta name="msapplication-TileColor" content="#cc9966">
<meta name="msapplication-config"
	content="@{/assets/images/icons/browserconfig.xml}">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet"
	th:href="@{/assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css}">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
	rel="stylesheet">
<!-- Plugins CSS File -->
<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
<link rel="stylesheet"
	th:href="@{/assets/css/plugins/owl-carousel/owl.carousel.css}">
<link rel="stylesheet"
	th:href="@{/assets/css/plugins/magnific-popup/magnific-popup.css}">
<link rel="stylesheet"
	th:href="@{/assets/css/plugins/jquery.countdown.css}">
<!-- Main CSS File -->
<link rel="stylesheet" th:href="@{/assets/css/style.css}">
<link rel="stylesheet" th:href="@{/assets/css/skins/skin-demo-2.css}">
<link rel="stylesheet" th:href="@{/assets/css/demos/demo-2.css}">
</head>
<body>

<th th:fragment="column_link_wish_keyword(url, field, fieldName)"><a
		class="text-decoration-none"
		th:href="@{'/' + ${url} + '/' + ${currentPage} + '?sortField=' + ${field} + '&sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">[[${fieldName}]]</a>
	</th>

	<div th:fragment="form_search(url)" class="form-search mb-3">
		<form th:action="@{'/' + ${url} + '/1'}"
			class="form-inline my-2 my-lg-0 justify-content-end">
			<input type="hidden" name="sortDir" th:value="${sortDir}" /> <input
				type="hidden" name="sortField" th:value="${sortField}" /> <input
				name="keyword" th:value="${keyword}" class="form-control mr-sm-2 mb-0"
				type="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0 mr-2"
				type="submit">Search</button>
			<button class="btn btn-outline-danger my-2 my-sm-0 btn-clear" 
				type="submit">Clear</button>
		</form>
	</div>

	<div th:fragment="header">
		<header class="header header-2 header-intro-clearance">


			<div class="header-middle">
				<div class="container">
					<div class="header-left">
						<button class="mobile-menu-toggler">
							<span class="sr-only">Toggle mobile menu</span> <i
								class="icon-bars"></i>
						</button>

						<a href="index.html" class="logo"> <img
							th:src="@{${SITE_LOGO}}" alt="Molla Logo" width="105" height="25">
						</a>
					</div>
					<!-- End .header-left -->

					<div class="header-center">
						<div
							class="header-search header-search-extended header-search-visible header-search-no-radius d-none d-lg-block">
							<a href="#" class="search-toggle" role="button"><i
								class="icon-search"></i></a>
							<form action="#" method="get">
								<div class="header-search-wrapper search-wrapper-wide">
									<label for="q" class="sr-only">Search</label> <input
										type="search" class="form-control" name="q" id="q"
										placeholder="Search product ..." required>
									<button class="btn btn-primary" type="submit">
										<i class="icon-search"></i>
									</button>
								</div>
								<!-- End .header-search-wrapper -->
							</form>
						</div>
						<!-- End .header-search -->
					</div>

					<div class="header-right">
						<th:block sec:authorize="isAuthenticated()">
							<div class="account">
								<a th:href="@{/account}" title="My account">
									<div class="icon">
										<i class="icon-user"></i>
									</div>
									<p>Account</p>
								</a>
							</div>
							<!-- End .compare-dropdown -->

							<div class="wishlist">
								<a th:href="@{/wishlists}" title="Wishlist">
									<div class="icon">
										<i class="icon-heart-o"></i>
									</div>
									<p>Wishlist</p>
								</a>
							</div>
							<!-- End .compare-dropdown -->

							<div class="dropdown cart-dropdown">
								<a href="#" class="dropdown-toggle" role="button"
									data-toggle="dropdown" aria-haspopup="true"
									aria-expanded="false" data-display="static">
									<div class="icon">
										<i class="icon-shopping-cart"></i> <span class="cart-count">[[${cartItems.size}]]</span>
									</div>
									<p>Cart</p>
								</a>

								<div class="dropdown-menu dropdown-menu-right">
									<div class="dropdown-cart-products">
										<th:block th:each="item : ${cartItems}">
											<div class="product">
												<div class="product-cart-details">
													<h4 class="product-title">
														<a th:href="@{${item.product.URL}}">[[${item.product.shortName}]]</a>
													</h4>

													<span class="cart-product-info"> <span
														class="cart-product-qty">[[${item.quantity}]]</span> x
														<div class="new-price ml-1"
															th:replace="format :: format_currency(${item.product.discountPrice})"></div>
													</span>
												</div>
												<!-- End .product-cart-details -->

												<figure class="product-image-container">
													<a th:href="@{${item.product.URL}}" class="product-image">
														<img th:src="@{'/' + ${item.product.mainImagePath}}"
														alt="product">
													</a>
												</figure>
												<a href="#" class="btn-remove" title="Remove Product"><i
													class="icon-close"></i></a>
											</div>
										</th:block>

										<!-- End .product -->


										<!-- End .product -->
									</div>
									<!-- End .cart-product -->

									<div class="dropdown-cart-total">
										<span>Estimated Total</span> <span class="cart-total-price">
											<div class="new-price ml-1"
												th:replace="format :: format_currency(${estimatedTotal})"></div>
										</span>
									</div>
									<!-- End .dropdown-cart-total -->

									<div class="dropdown-cart-action">
										<a th:href="@{/shoppingcarts}" class="btn btn-primary">View
											Cart</a> <a th:href="@{/checkout}"
											class="btn btn-outline-primary-2"><span>Checkout</span><i
											class="icon-long-arrow-right"></i></a>
									</div>
									<!-- End .dropdown-cart-total -->
								</div>
								<!-- End .dropdown-menu -->
							</div>
						</th:block>
						<th:block sec:authorize="!isAuthenticated()">
							<div class="login">
								<a th:href="@{/login}">Sign in / Sign up</a>
							</div>
						</th:block>
						<!-- End .cart-dropdown -->
					</div>
					<!-- End .header-right -->
				</div>
				<!-- End .container -->
			</div>
			<!-- End .header-middle -->

			<div class="header-bottom sticky-header">
				<div class="container">
					<div class="header-center">
						<nav class="main-nav">
							<ul class="menu sf-arrows">
								<li class="megamenu-container"><a th:href="@{/home}">Home</a></li>

								<li><a href="#" class="sf-with-ul">Category</a>

									<ul>
										<th:block th:each="category : ${listParentCategories}">
											<li><a th:href="@{${category.getURL}}"
												class="sf-with-ul">[[${category.name}]]</a>
												<div th:replace="multilevel_menu :: menu(${category})"></div>
											</li>
										</th:block>

									</ul>
								<li><a th:href="@{/articles}" class="sf-with-ul">Articles</a>
									<ul>
										<li><a th:href="@{/articles}" class="">All</a></li>
										<th:block th:each="topic : ${topics}">
											<li><a th:href="@{${topic.URL}}">[[${topic.name}]]</a>
											</li>
										</th:block>
									</ul></li>
						</nav>
						<!-- End .main-nav -->
					</div>
					<!-- End .header-center -->
				</div>
				<!-- End .container -->
			</div>
			<!-- End .header-bottom -->
		</header>
		<!-- End .header -->
	</div>

	<div th:fragment="footer">
		<footer class="footer footer-2">
			<div class="icon-boxes-container">
				<div class="container">
					<div class="row">
						<div class="col-sm-6 col-lg-3">
							<div class="icon-box icon-box-side">
								<span class="icon-box-icon text-dark"> <i
									class="icon-rocket"></i>
								</span>
								<div class="icon-box-content">
									<h3 class="icon-box-title">Free Shipping</h3>
									<!-- End .icon-box-title -->
									<p>orders $50 or more</p>
								</div>
								<!-- End .icon-box-content -->
							</div>
							<!-- End .icon-box -->
						</div>
						<!-- End .col-sm-6 col-lg-3 -->

						<div class="col-sm-6 col-lg-3">
							<div class="icon-box icon-box-side">
								<span class="icon-box-icon text-dark"> <i
									class="icon-rotate-left"></i>
								</span>

								<div class="icon-box-content">
									<h3 class="icon-box-title">Free Returns</h3>
									<!-- End .icon-box-title -->
									<p>within 30 days</p>
								</div>
								<!-- End .icon-box-content -->
							</div>
							<!-- End .icon-box -->
						</div>
						<!-- End .col-sm-6 col-lg-3 -->

						<div class="col-sm-6 col-lg-3">
							<div class="icon-box icon-box-side">
								<span class="icon-box-icon text-dark"> <i
									class="icon-info-circle"></i>
								</span>

								<div class="icon-box-content">
									<h3 class="icon-box-title">Get 20% Off 1 Item</h3>
									<!-- End .icon-box-title -->
									<p>When you sign up</p>
								</div>
								<!-- End .icon-box-content -->
							</div>
							<!-- End .icon-box -->
						</div>
						<!-- End .col-sm-6 col-lg-3 -->

						<div class="col-sm-6 col-lg-3">
							<div class="icon-box icon-box-side">
								<span class="icon-box-icon text-dark"> <i
									class="icon-life-ring"></i>
								</span>

								<div class="icon-box-content">
									<h3 class="icon-box-title">We Support</h3>
									<!-- End .icon-box-title -->
									<p>24/7 amazing services</p>
								</div>
								<!-- End .icon-box-content -->
							</div>
							<!-- End .icon-box -->
						</div>
						<!-- End .col-sm-6 col-lg-3 -->
					</div>
					<!-- End .row -->
				</div>
				<!-- End .container -->
			</div>
			<!-- End .icon-boxes-container -->

			<div class="footer-newsletter bg-image"
				style="background-image: url(/assets/images/backgrounds/bg-2.jpg)">
				<div class="container">
					<div class="heading text-center">
						<h3 class="title">Get The Latest Deals</h3>
						<!-- End .title -->
						<p class="title-desc">
							and receive <span>$20 coupon</span> for first shopping
						</p>
						<!-- End .title-desc -->
					</div>
					<!-- End .heading -->

					<div class="row">
						<div
							class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
							<form action="#">
								<div class="input-group">
									<input type="email" class="form-control"
										placeholder="Enter your Email Address"
										aria-label="Email Adress" aria-describedby="newsletter-btn"
										required>
									<div class="input-group-append">
										<button class="btn btn-primary" type="submit"
											id="newsletter-btn">
											<span>Subscribe</span><i class="icon-long-arrow-right"></i>
										</button>
									</div>
									<!-- .End .input-group-append -->
								</div>
								<!-- .End .input-group -->
							</form>
						</div>
						<!-- End .col-sm-10 offset-sm-1 col-lg-6 offset-lg-3 -->
					</div>
					<!-- End .row -->
				</div>
				<!-- End .container -->
			</div>
			<!-- End .footer-newsletter bg-image -->

			<div class="footer-middle">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-lg-6">
							<div class="widget widget-about">
								<img th:src="@{${SITE_LOGO}}"
									class="footer-logo" alt="Footer Logo" width="105" height="25">
								<p>This is a sales website written by Java</p>

								<div class="widget-about-info">
									<div class="row">
										<div class="col-sm-6 col-md-4">
											<span class="widget-about-title">Got Question Please Send Email To Admin</span><a href = "mailto: annguyenba69@gmail.com">annguyenba69@gmail.com</a>
										</div>
										<!-- End .col-sm-6 -->
									</div>
									<!-- End .row -->
								</div>
								<!-- End .widget-about-info -->
							</div>
							<!-- End .widget about-widget -->
						</div>
						<!-- End .col-sm-12 col-lg-3 -->

						<div class="col-sm-4 col-lg-2">
							<div class="widget">
								<h4 class="widget-title">Information</h4>
								<!-- End .widget-title -->

								<ul class="widget-list">
									<li><a href="about.html">About Molla</a></li>
									<li><a href="#">How to shop on Molla</a></li>
									<li><a href="#">FAQ</a></li>
									<li><a href="contact.html">Contact us</a></li>
									<li><a href="login.html">Log in</a></li>
								</ul>
								<!-- End .widget-list -->
							</div>
							<!-- End .widget -->
						</div>
						<!-- End .col-sm-4 col-lg-3 -->

						<div class="col-sm-4 col-lg-2">
							<div class="widget">
								<h4 class="widget-title">Customer Service</h4>
								<!-- End .widget-title -->

								<ul class="widget-list">
									<li><a href="#">Payment Methods</a></li>
									<li><a href="#">Money-back guarantee!</a></li>
									<li><a href="#">Returns</a></li>
									<li><a href="#">Shipping</a></li>
									<li><a href="#">Terms and conditions</a></li>
									<li><a href="#">Privacy Policy</a></li>
								</ul>
								<!-- End .widget-list -->
							</div>
							<!-- End .widget -->
						</div>
						<!-- End .col-sm-4 col-lg-3 -->

						<div class="col-sm-4 col-lg-2">
							<div class="widget">
								<h4 class="widget-title">My Account</h4>
								<!-- End .widget-title -->

								<ul class="widget-list">
									<li><a href="#">Sign In</a></li>
									<li><a href="cart.html">View Cart</a></li>
									<li><a href="#">My Wishlist</a></li>
									<li><a href="#">Track My Order</a></li>
									<li><a href="#">Help</a></li>
								</ul>
								<!-- End .widget-list -->
							</div>
							<!-- End .widget -->
						</div>
						<!-- End .col-sm-64 col-lg-3 -->
					</div>
					<!-- End .row -->
				</div>
				<!-- End .container -->
			</div>
			<!-- End .footer-middle -->

			<div class="footer-bottom">
				<div class="container">
					<p class="footer-copyright">[[${COPYRIGHT}]]</p>

					<div class="social-icons social-icons-color">
						<span class="social-label">Social Media</span> <a href="#"
							class="social-icon social-facebook" title="Facebook"
							target="_blank"><i class="icon-facebook-f"></i></a> <a href="#"
							class="social-icon social-twitter" title="Twitter"
							target="_blank"><i class="icon-twitter"></i></a> <a href="#"
							class="social-icon social-instagram" title="Instagram"
							target="_blank"><i class="icon-instagram"></i></a> <a href="#"
							class="social-icon social-youtube" title="Youtube"
							target="_blank"><i class="icon-youtube"></i></a> <a href="#"
							class="social-icon social-pinterest" title="Pinterest"
							target="_blank"><i class="icon-pinterest"></i></a>
					</div>
					<!-- End .soial-icons -->
				</div>
				<!-- End .container -->
			</div>
			<!-- End .footer-bottom -->
		</footer>
		<!-- End .footer -->
	</div>
	<div th:fragment="script">
		<script th:src="@{/assets/js/jquery.min.js}"></script>
		<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
		<script th:src="@{/assets/js/jquery.hoverIntent.min.js}"></script>
		<script th:src="@{/assets/js/jquery.waypoints.min.js}"></script>
		<script th:src="@{/assets/js/superfish.min.js}"></script>
		<script th:src="@{/assets/js/owl.carousel.min.js}"></script>
		<script th:src="@{/assets/js/jquery.plugin.min.js}"></script>
		<script th:src="@{/assets/js/jquery.magnific-popup.min.js}"></script>
		<script th:src="@{/assets/js/jquery.countdown.min.js}"></script>
		<script th:src="@{/js/jquery.number.min.js}"></script>
		<!-- Main JS File -->
		<script th:src="@{/assets/js/main.js}"></script>
		<script th:src="@{/assets/js/demos/demo-2.js}"></script>
	</div>

	<th th:fragment="column_link(url, field, fieldName)"><a
		class="text-decoration-none"
		th:href="@{'/' + ${url} + '/' + ${currentPage} + '?sortField=' + ${field} + '&sortDir=' + ${reverseSortDir}}">[[${fieldName}]]</a>
	</th>
</body>
</html>